<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Boards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Build.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Index.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Serial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Upload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0AE29151DC6FF8300F28E82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0AE29161DC6FF8300F28E82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0AE29171DC6FF8300F28E82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0AE29181DC6FF8300F28E82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0AE29191DC6FF8300F28E82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0AE291B1DC6FF8300F28E82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
